## Statistics

1. Decriptive statistics    ---> Describe the data (Mean, median, mode, standatrd deviation, variance, quartiles, percentiles,min, max, count)

2. Inferential statistics   ---> Infer the data ---> predictions/forecast ---> AI, ML

* Predictions:     
                * Classification ----> true, false, yes, no
                * Regression -----> Dependent variable is continuous ----> price, weight, age, speed

### Regression

In [1]:
import statsmodels.api as sm

In [4]:
import pandas as pd
sales_table = pd.read_excel(r'E:\Python Bootcamp\Adventure Works 2020.xlsx', sheet_name = 'Sales')

In [5]:
sales_table

,OrderDate,OrderDate Key,ProductKey,CustomerKey,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,2016-07-01,20160701,336,14501,4,SO43700,2016-07-08,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,Southwest7
1,2016-07-01,20160701,346,25863,1,SO43699,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest7
2,2016-07-01,20160701,346,28389,7,SO43698,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,France7
3,2016-07-01,20160701,310,21768,6,SO43697,2016-07-08,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,Canada7
4,2016-07-01,20160701,346,11003,9,SO43701,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Australia7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,2019-07-31,20190731,530,16402,10,SO75116,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,United Kingdom7
60394,2019-07-31,20190731,530,18178,10,SO75117,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,United Kingdom7
60395,2019-07-31,20190731,467,18178,10,SO75117,2019-08-07,2,1,24.4900,24.4900,0,0,9.1593,9.1593,24.4900,1.9592,0.6123,United Kingdom7
60396,2019-07-31,20190731,477,18529,5,SO75103,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,Southeast7
60397,2019-07-31,20190731,217,18529,5,SO75103,2019-08-07,2,1,34.9900,34.9900,0,0,13.0863,13.0863,34.9900,2.7992,0.8748,Southeast7

In [6]:
 sales_table.columns

Index(['OrderDate', 'OrderDate Key', 'ProductKey', 'CustomerKey',
       'SalesTerritoryKey', 'SalesOrderNumber', 'ShipDate',
       'SalesOrderLineNumber', 'OrderQuantity', 'UnitPrice', 'ExtendedAmount',
       'UnitPriceDiscountPct', 'DiscountAmount', 'ProductStandardCost',
       'TotalProductCost', 'SalesAmount', 'TaxAmt', 'Freight',
       'RegionMonthID'],
      dtype='object')

In [7]:
# Dependent variable ----> Sales Amount
# Independent Variable ----> Total Product Cost, order quantity, tax amount, Unit price, Sales Territory key

In [8]:
dependent_variable = sales_table['SalesAmount']
independent_variables = sales_table[['TotalProductCost','OrderQuantity', 'UnitPrice', 'SalesTerritoryKey','TaxAmt' ]]

In [9]:
dependent_variable

0         699.0982
1        3399.9900
2        3399.9900
3        3578.2700
4        3399.9900
           ...
60393       4.9900
60394       4.9900
60395      24.4900
60396       4.9900
60397      34.9900
Name: SalesAmount, Length: 60398, dtype: float64

In [10]:
independent_variables

       TotalProductCost  OrderQuantity  UnitPrice  SalesTerritoryKey    TaxAmt
0              413.1463              1   699.0982                  4   55.9279
1             1912.1544              1  3399.9900                  1  271.9992
2             1912.1544              1  3399.9900                  7  271.9992
3             2171.2942              1  3578.2700                  6  286.2616
4             1912.1544              1  3399.9900                  9  271.9992
...                 ...            ...        ...                ...       ...
60393            1.8663              1     4.9900                 10    0.3992
60394            1.8663              1     4.9900                 10    0.3992
60395            9.1593              1    24.4900                 10    1.9592
60396            1.8663              1     4.9900                  5    0.3992
60397           13.0863              1    34.9900                  5    2.7992

[60398 rows x 5 columns]

In [14]:
regression_model = sm.OLS(dependent_variable, independent_variables)
results = regression_model.fit()
results.summary()                       # OLS means ordinary least square aka linear regression

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SalesAmount   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.805e+22
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        17:53:40   Log-Likelihood:             7.5860e+05
No. Observations:               60398   AIC:                        -1.517e+06
Df Residuals:                   60393   BIC:                        -1.517e+06
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
TotalProductCost   1.554e-15   1.02e-10   1.52e-05      1.000      -2e-10       2e-10
OrderQuantity      5.116e-13   8.18e-09   6.25e-05      1.000    -1.6e-08     1.6e-08
UnitPrice             1.0000   5.17e-05   1.93e+04      0.000       1.000       1.000
SalesTerritoryKey  -5.44e-15   1.17e-09  -4.64e-06      1.000    -2.3e-09     2.3e-09
TaxAmt            -3.353e-08      0.001  -5.18e-05      1.000      -0.001       0.001
==============================================================================
Omnibus:                    20631.742   Durbin-Watson:                   0.463
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            53294.713
Skew:                          -1.927   Prob(JB):                         0.00
Kurtosis:                       5.513   Cond. No.                     2.29e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""